{
    "parserOptions": { "ecmaVersion": "latest" },
    "extends": "standard",
    "globals": {
      "describe": true,
      "before": true,
      "after": true,
      "it": true
    },
    "rules": {
      "semi": [2, "always"]
    }
}
